.outer{
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gbox{
    width: 400px;
    height: 400px;
    background-color: burlywood;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    gap:5px ;
}
.inner{
    width: 130px;
    height: 130px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6rem;
    color: burlywood;
  
    /* visibility: hidden; */
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
    color: burlywood;
    font-size: 2rem;
}